.app {
  .link {
    text-decoration: none;
    color: inherit;
  }
}

$main-color: #283618;
$main-color-light: #606c38;
$second-color: #c2c5aa;
$main-color1: #dda15e;
$main-color2: #fefae0;
$main-color3: #bc6c25;
