.slider {
  width: 100vw;
  height: calc(100vh - 40px);
  overflow: hidden;

  .container {
    width: 700vw;
    height: 100%;
    display: flex;
    position: relative;
    transition: all 1s ease;

    .image {
      width: 100vw;
      height: 100%;
      object-fit: cover;
    }
  }
  .icons {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    margin: auto;
    gap: 30px;
    cursor: pointer;

    .icon {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid 2px rgba(161, 161, 161, 0.596);

      color: gray;
      padding: 0 5px;
    }
  }
}
