.shopCart {
  z-index: 900;
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: white;
  width: 300px;
  padding: 10px;
  -webkit-box-shadow: -4px 10px 27px -5px rgba(189, 185, 189, 0.72);
  -moz-box-shadow: -4px 10px 27px -5px rgba(189, 185, 189, 0.72);
  box-shadow: -4px 10px 27px -5px rgba(189, 185, 189, 0.72);
  h1 {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .itemDetail {
      display: flex;
      gap: 10px;
      img {
        width: 45px;
        height: 45px;
        object-fit: cover;
        flex: 1;
      }
      .info {
        flex: 5;
        h2 {
          font-size: 14px;
        }
        span {
          font-size: 12px;
          color: gray;
        }
      }
    }
  }
  .deleteBtn {
    color: tomato;
  }
  .total {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
  }
  button {
    width: 200px;
    background-color: tomato;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    margin: 20px 0;
    justify-content: center;
  }
  .reset {
    font-size: 14px;
    color: tomato;
  }
}
